<footer class="footer">
  <div class="social-links">
    <a href="https://github.com/dhruvd21" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/dhruv-dixit21" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/droovspm" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://x.com/Ambi_2113" target="_blank" aria-label="X (Twitter)">
      <i class="fab fa-x-twitter"></i>
    </a>
  </div>
  <p>© 2025 Dhruv | Built using Angular and Dhruv's astounding skills</p>
</footer>