.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  
  padding-top: 100px;
  padding-bottom: 20px;
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 249, 240, 0.95) 95%,
      rgba(255, 241, 229, 1) 100%
  );
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.4s ease;
  animation: slideUp 1.5s ease;
  
}

.about-card {
  width: 90%;
  max-width: 850px;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.about-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

mat-card-title {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-align: center;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

mat-card-subtitle {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  text-align: center;
}

mat-card-content p {
  color: #444;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

button[mat-raised-button] {
  border-radius: 25px !important;
    background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 249, 240, 0.95) 95%,
      rgba(255, 241, 229, 1) 100%
  );
  color: #3e2723 !important;
  font-weight: 500;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
}


button[mat-raised-button]:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
