.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); /* account for navbar height */
  
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 249, 240, 0.95) 35%,
      rgba(255, 241, 229, 1) 100%
  );
  padding: 40px 20px;
    backdrop-filter: blur(10px);
  animation: fadeIn 1.5s ease;
    animation: slideUp 1.5s ease;
}

.about-card {
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.1);
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  justify-content: center;
  margin-bottom: 15px;
}

mat-card-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3e2723;
  font-family: 'Montserrat', sans-serif;
}

mat-card-subtitle {
  font-size: 1.1rem;
  color: #795548;
  font-weight: 500;
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif;
}

mat-card-content p {
  font-size: 1rem;
  color: #5d4037;
  line-height: 1.7;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

mat-card-content b {
  color: #3e2723;
  font-weight: 600;
}

.about-card::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #d9c7a6;
  margin: 15px auto 0;
  border-radius: 2px;
  
}
